[Desktop Entry]
Type=Application
Name=Mega Man X5 Recompiled
Comment=Static recompilation of Mega Man X5
Exec=mmx5-runtime
Icon=io.github.mstan.MegaManX5Recomp
Categories=Game;
Terminal=false
